<% @search_results = @search_results.sort { |x,y| y.searchable_type<=>x.searchable_type }%> <!--better way to sort searchable?-->
<h1>Search Results</h1>
<ul>
  <% if @search_results.empty? %>
    <li>No Search Results</li> 
  <% end %>
  <% @search_results.each do |result| %>
    <li>
      <% if result.searchable_type == "Topic" %>
        <% @topic = Topic.find_by_id(result.searchable_id) %>
        <%= link_to "Topic: #{@topic.title}", api_topic_url(@topic) %>
      <% elsif result.searchable_type == "Pun" %>
        <% @pun = Pun.find_by_id(result.searchable_id) %>
        <%= link_to "Pun: #{@pun.term}", api_pun_url(@pun) %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Topics Index", api_topics_url %>
<%= link_to "Puns Index", api_puns_url %>
