<h1>Create Topic</h1>

<form class="topic-form" action="<%= api_topics_url %>" method="post">
  <%= form_auth %>
  <label for="topic-title">Topic</label>
  <input type="text" id="topic-title" name="topic[title]" value="<%= @topic.title %>">
  <button>Create Topic</button>
  <%= link_to "Return to Index", api_topics_url %>
</form>
