<h1>Opunsrc</h1>

<form action="<%= api_search_url %>" method="get">
  <label for="search">Search</label>
  <input type="text" name="query" id="search" value="">
  <button>Submit</button>
</form>

<label for="top-tags">Top Tags</label>
<ul id="top-tags">
  <% @top_tags.each do |topic| %>
    <li><%= link_to topic.title, api_topic_url(topic) %></li>
  <% end %>
</ul>

<label for="top-puns">Top Puns</label>
<ul id="top-puns">
  <% @top_puns.each do |pun| %>
    <li><%= link_to pun.term, api_pun_url(pun) %></li>
  <% end %>
</ul>

<label for="top-users">Top Puns</label>
<ul id="top-users">
  <% @top_users.each do |user| %>
    <li><%= link_to user.handle, user_url(user) %></li>
  <% end %>
</ul>
