<h1>Opunsrc</h1>

<form action="<%= api_search_url %>" method="get">
  <label for="search">Search</label>
  <input type="text" name="query" id="search" value="">
  <button>Submit</button>
</form>

<label for="top-tags">Top Tags</label>
<ul id="top-tags">

</ul>

<label for="top-puns">Top Puns</label>
<ul id="top-puns">

</ul>
