<h1>Opunsrc</h1>

<form action="<%= api_search_url %>" method="get">
  <label for="search">Search</label>
  <input type="text" name="query" id="search" value="">
  <button>Submit</button>
</form>

<%= link_to "Topics Index", api_topics_url %>
<%= link_to "Puns Index", api_puns_url %>
